/* Chart.css */
.chart {
    width: 600px;
    height: auto;
}

.bar {
    transition: all 0.3s ease;
}

.bar.front {
    fill: #4AB6E8;
}

.bar.back {
    fill: #AA6FAC;
}

.bar.db {
    fill: #E85498;
}

.bar-text {
    fill: white;
}

.bar-label {
    font-size: 10px;
    fill: #898290;
}

.norm-bar-text {
    fill: #898290;
}