.app {
  max-width: 600px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  background-color: #F0F0F0;
  border-radius: 5px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.app-header h1 {
  color: #898290;
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.burger-button {
  border: none;
  cursor: pointer;
}